<!DOCTYPE html>
<html class="h-full antialiased">
  <%= render "shared/head" %>

  <body class="font-sans font-normal leading-normal text-gray-800 bg-white flex flex-col min-h-screen ">

    <header>
      <%= render "shared/flash_notice" %>
      <%= render "shared/navbar" %>
    </header>

    <main class="flex-grow">
      <%= content_for?(:content) ? yield(:content) : yield %>
      <% if user_signed_in? %>
        <p>
          Signed in as: <%= current_user.name %>
        </p>
        <%= button_to "Sign Out", destroy_user_session_path, 
        method: :delete, class: button_class(theme: "primary"), 
        data: {turbo: false} %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, 
        class: button_class(theme: "primary") %>
      <% end %>




    </main>
  </body>
</html>
